<h1>Editing Detalle</h1>

<%= render 'form', detalle: @detalle %>
<div class="text-center">

<%= link_to @detalle  ,style:'color: var(--blue)'  do%> 
    <i class="fas fa-info-circle fa-3x blue"></i>
    <% end %>
|
<%= link_to  detalles_path ,style:'color: var(--orange)'  do %>
<i class="fas fa-caret-square-left fa-3x"></i>
<% end %>
</div>