<h1>New Detalle</h1>

<%= render 'form', detalle: @detalle %>

<div class="text-center">
<%= link_to  detalles_path ,style:'color: var(--orange)'  do %>
    <i class="fas fa-caret-square-left fa-3x"></i>
    <% end %>
    </div>

