<h1>New Prestamo</h1>

<%= render 'form', prestamo: @prestamo %>
<div class="text-center">
<%= link_to  prestamos_path ,style:'color: var(--orange)'  do %>
    <i class="fas fa-caret-square-left fa-3x"></i>
    <% end %>
    </div>
