<h1>New Usuario</h1>

<%= render 'form', usuario: @usuario %>

<div class="text-center">
<%= link_to  usuarios_path ,style:'color: var(--orange)'  do %>
    <i class="fas fa-caret-square-left fa-3x"></i>
    <% end %>
    </div>
    
